<footer class="footer-section">
  <div class="container">
    <div class="footer-top">
      <div class="footer-top__img">
        <img src="img/logo.png" alt="molecule" />
      </div>
      <ul class="footer-top__nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Open positions</a></li>
        <li><a href="#">Blog</a></li>
      </ul>

      <ul class="footer-top__social">
        <li>
          <a href="#"><i class="icon icon-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="icon icon-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="icon icon-linkedin"></i></a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <div>
        &#169; Molecule, LLC. All rights reserved. Powered by
        <span class="footer-bottom__accent"> Webflow</span>.
      </div>
      <ul class="footer-bottom__nav">
        <li><a href="#">Licensing</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Terms & conditions</a></li>
        <li><a href="#">Cookie policy</a></li>
      </ul>
    </div>
  </div>
</footer>
