<header>
  <div class="container">
    <div class="header">
      <strong class="header__img">
        <a href="#">
          <img src="img/logo.png" alt="molecule logo" />
        </a>
      </strong>
      <ul class="header__pages">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Open positions</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Template</a></li>
      </ul>
      <div>
        <button class="btn primary-btn">Buy now</button>
      </div>
    </div>
  </div>
</header>