$font-main: "Montserrat", sans-serif;

// Color:
$white: #ffffff;
$black: #000000;

$primary: #794EFF;
$lightgray: #F6F6F6;
$gray: #1E313B;
$gray-1: #222222;
$orange: #FFC147;
$green: #97E747;

// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;
