$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icon-font" !default;

$icon-arrow-right: "\e900";
$icon-instagram: "\e901";
$icon-cart: "\e909";
$icon-publish: "\e90a";
$icon-linkedin: "\e902";
$icon-twitter: "\e903";
$icon-image: "\e904";
$icon-pages: "\e905";
$icon-arrow-left: "\e907";
$icon-typography: "\e906";
$icon-colors: "\e908";